@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* CSS file for countdown */
body{
  background:#2c3e51;
  color:#fff;
  margin:0;
  font-family: 'Roboto', sans-serif;
}
#header{
  background:#fff;
  color:#555;
  opacity:.9;
  box-shadow:0px 5px 10px #0006;
  padding: 4px 15px;
  font-weight: bold;
}

section {
  padding: 18px 24px;
}

#top-panel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

#info {
  font-size: 20px;
  min-width: 160px;
}

.time-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 26px;
}

#current-time, #target-time {
  font-weight: bold;
}

#controls button {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  color: white;
  border: 1px solid grey;
  font-size: 16px;
  border-radius: 4px;
}

#remaining-time-container {
  display: flex;
  text-align: center;
  font-size: 28px;
  align-items: flex-end;
  justify-content: center;
}

#remaining-time-display {
  margin-right: 10px;
  font-weight: bold;
  color: #ffe167;
  font-size: 42px;
}

#remaining-time-label {
  font-size: 0.8em;
}

#log{
  display: flex;
}

#log-main{
  display: flex;
  font-weight: bold;
  
}
#log-screen{
  display: flex;
  left: 10px;
}

#log-set{
  
}
#log-extend{
  
}
#log-finish

#current-time-log{
  display: flex;
}
