/* CSS file for countdown */
body{
  background:#212121;
  color:#fff;
  margin:0;
}
#header{
  background:#fff;
  color:#555;
  opacity:.9;
  box-shadow:0px 5px 10px #0006;
}
#header-brand {
/*   font-weight:bold; */
}

#top-panel, #main, #header {
  padding: 18px 24px;
}

#top-panel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

#info {
  font-size: 20px;
  min-width: 160px;
}

.time-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 26px;
}

#info #current-time,
#info #target-time {
  
}

#controls button {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  color: white;
  border: 1px solid grey;
  font-size: 16px;
  border-radius: 4px;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
}

#remaining-time {
  text-align:center;
}

#remaining-time div {
  display:block;
  font-size: 
}


