@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* CSS file for countdown */

body {
  background: #2c3e51;
  color: #fff;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#header {
  background: #fff;
  color: #555;
  opacity: .9;
  box-shadow: 0px 5px 10px #0006;
  padding: 4px 15px;
  font-weight: bold;
}

section {
  padding: 18px 24px;
}

#top-panel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

#info {
  font-size: 30px;
  min-width: 250px;
}

.time-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 32px;
  line-height: 42px;
}

#current-time, #target-time {
  font-weight: bold;
}

#controls button {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  color: white;
  border: 1px solid grey;
  font-size: 16px;
  border-radius: 4px;
}

#remaining-time-container {
  display: flex;
  text-align: center;
  align-items: flex-end;
  justify-content: center;
}

#remaining-time-display {
  margin-right: 10px;
  font-weight: bold;
  color: #ffe167;
  font-size: 48px;
  line-height: 50px;
}

#remaining-time-label {
  font-size: 24px;
  margin-left: 5px;
}

#log {
  display: flex;
  flex-direction: column;
}

#log-header {
  display: flex;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 14px;
}

#log-screen {
  display: flex;
  flex-direction: column;
  left: 10px;
  font-family: monospace;
  font-size: 18px;
  line-height: 26px;
}

#current-time-log {
  display: flex;
}

.flash-anim {
  -webkit-animation: flash linear 0.3s infinite;
  animation: flash linear 0.3s infinite;
}

@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .1;
  }
  100% {
    opacity: 1;
  }
}