/* @import url('https://fonts.googleapis.com/css2?family=Itim&display=swap'); */
:root{
  --hue-main:330;
  --cl-main:hsl(var(--hue-main),100%,50%);
  --cl-main-1:hsl(var(--hue-main),100%,90%);
  --cl-main-2:hsl(var(--hue-main),100%,70%);
  --cl-main-3:hsl(var(--hue-main),100%,50%);
  --cl-main-4:hsl(var(--hue-main),80%,25%);
  --cl-main-5:hsl(var(--hue-main),80%,15%);
  --cl-warn:#FFB300;
  --cl-ok:#7CB342;
  --cl-danger:#d50000;
  --cl-grey:#90A4AE;
}


body {
  background: #fafafa;
  padding:0;
  color: #546E7A;
/*   font-family: 'Itim', sans-serif; */
}
.container{
  width:100%;
  max-width:1000px;
  min-width:320px;
  margin:auto;
  border:2px solid var(--cl-main-1);
}
h1,h2,h3,h4,h5,h6{
  padding:0;
  margin:0;
}
.btn{
  color:#546E7A;
  padding:.2em .7em;
  border: 2px solid;
  display:inline-block;
  cursor:pointer;
  background:20;
  --btn-color:var(--cl-main);
}
.cl-main{
  color:var(--cl-main-3);
}

.btn:hover{
  color:var(--btn-color);
  box-shadow:0px 0px 3px var(--btn-color);
}
.btn-ok{
  --btn-color:var(--cl-ok);
}

.btn-warn{
  --btn-color:var(--cl-warn);
}

.btn-grey{
  --btn-color:var(--cl-grey);
}

.btn-danger{
  --btn-color:var(--cl-danger);
}
.btn-ok[data-state="1"],
.btn-warn[data-state="1"],
.btn-danger[data-state="1"]{
  color:white;
  background:var(--btn-color);
  border-color:var(--btn-color);
}
.btn[disabled="disabled"] {
  opacity:0.3;
}

#tools-panel{
  position:absolute;
  top:2em;
  right:2em;
}

#vote-table{
  background:white;
  padding:2em;
  position:relative;
}

#vote-table-wrap {
  display: flex;
  flex-flow:row wrap;
}

.vote-row{
  width:100%;
  display: flex;
  flex-flow:row wrap;
  padding:10px 0px;
  border-bottom:1px solid var(--cl-main-1);
}
.vote-row[data-available="0"]{
  opacity:.5;
}

.vote-row-title{
  width: 50%;
}
.vote-row-action{
  width: 25%;
  text-align:right;
}
.vote-row-controls{
  width: 25%;
  text-align:right;
}

.vote-title-user{
  color:var(--cl-main-2);
  font-weight:bold;
}
#svg-bg {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
#svg-bg svg{
  width:100%;
}
#svg-bg #bg{
  fill:var(--cl-main-2);
}