<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Vote Storming</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/vote.css" />
    <script src="/vote.js" defer></script>
  </head>
  <body>
    <div id="svg-bg">
      <svg viewbox="0 0 100 20">
        <path
          id="bg"
          d="M0 0 
                         S15,18 40,10 
                         S70,5 100,20 
                         L100,0
                         Z
                         "
        >
          <animate
            attributeName="d"
            values="M0 0 
                         S15,18 40,10 
                         S70,5 100,20 
                         L100,0
                         Z;M0 0 
                         S20,5 40,10 
                         S70,5 100,20 
                         L100,0
                         Z;M0 0 
                         S15,18 40,10 
                         S70,5 100,20 
                         L100,0
                         Z;
                                             "
            dur="3s"
            repeatcount="indefinite"
          />
        </path>
      </svg>
    </div>
    <div class="container" id="app">
      <section id="vote-table" v-if="roomId !== 'default'">
        <h2 class="cl-main">
          {{roomName}}
        </h2>
        <br />
        <div id="tools-panel">
          <span
            class="btn"
            id="btn-reach"
            @click="submit"
            :disabled="submitting"
            >🙋‍♀️ เสนอ</span
          >
          <span class="btn" id="btn-member" @click="login" v-if="!currentUser"
            >😀 ตั้งชื่อ</span
          >
          <span
            class="btn"
            id="btn-rename-member"
            @click="renameMember"
            v-if="currentUser"
            >💬 เปลี่ยนชื่อ</span
          >
        </div>
        <br />
        <div id="vote-table-wrap">
          <div
            class="vote-row"
            :data-available="entry.available ? '1' : '0'"
            v-for="(entry, entryId) in table"
          >
            <div class="vote-row-title">
              <span class="vote-title-user">{{getName(entry.user)}}</span> -
              <span class="vote-title-detail">
                {{entry.detail}}
              </span>
            </div>

            <div class="vote-row-controls">
              <div v-if="isMine(entryId) || isAdmin()">
                <span class="btn btn-grey" @click="edit(entryId)">📝 แก้ไข</span>
                <span
                  class="btn btn-danger"
                  @click="toggleRetract(entryId)"
                  data-state="0"
                  >🙅‍♀️ ถอน</span
                >
              </div>
            </div>

            <div class="vote-row-action">
              <span
                class="btn btn-ok"
                @click="setVote(entryId, 'confirm')"
                :data-state="getUserState(entryId, 'confirm')"
                :data-count="voteCount(entryId, 'confirm')"
                :title="voteNames(entryId, 'confirm')"
                ><span class="vote-count"
                  >{{voteCount(entryId, 'confirm')}}</span
                >
              👌</span
              >
              <span
                class="btn btn-warn"
                @click="setVote(entryId, 'concern')"
                :data-state="getUserState(entryId, 'concern')"
                :data-count="voteCount(entryId, 'concern')"
                :title="voteNames(entryId, 'concern')"
                ><span class="vote-count"
                  >{{voteCount(entryId, 'concern')}}</span
                >
                🤔</span
              >
            </div>
          </div>
        </div>
      </section>
    <!-- ending: vote-table-wrap -->
    <section id="new-room">
      <h2 class="cl-main">
        Vote Storming 🌪
      </h2>
     <b>มาโหวตกันเถอะ!</b>
        <p>
          ร่วมเสนอความเห็นและให้การรับรอง เพื่อว่าข้อเสนอไหนที่คนชื่นชอบมากที่สุด 
      </p>
        <ul>
          <li>สร้างห้องใหม่ หรือ เข้าร่วมห้องที่มีอยู่ผ่าน url</li>
          <li>กำหนดชื่อเพื่อให้ทุกคนรับฟังเยงของคุณ</li>
          <li>กด 👌 ในหัวข้อที่ชอบ หรือ 🤔 ในหัวข้อที่ยังกังวล</li>
          <li>ข้อเสนอไหนไม่เอาแล้ว สามารถถอนออกได้</li>
      </ul>
      <br>
      <span @click="newRoom" href="javascript:" class="btn">🎲 &nbsp;สร้างห้องใหม่</span>
    </section>
      
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-database.js"></script>

    <script>
      // Your web app's Firebase configuration
      var firebaseConfig = {
        apiKey: "AIzaSyAsUBlRJxl4NYGRofI-o3J0UsYTHG8-F18",
        authDomain: "ycc-playground.firebaseapp.com",
        databaseURL: "https://ycc-playground.firebaseio.com",
        projectId: "ycc-playground",
        storageBucket: "ycc-playground.appspot.com",
        messagingSenderId: "265116780865",
        appId: "1:265116780865:web:95d86f08a9da0e8534b9c0"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
    </script>

    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>
