@import url('https://fonts.googleapis.com/css2?family=Pridi&display=swap');
:root{
  --cl-sea:#00BCD4;
  --cl-sea-light1:#E0F7FA;
  --cl-sea-light2:#4DD0E1;
  --cl-sea-dark1:#00ACC1;
  --cl-sea-dark2:#00838F;
}


body {
  background: var(--cl-sea-dark2);
  padding:0;
  color: var(--cl-sea-light1);
  font-family: 'Pridi', sans-serif;
}

.btn{
  padding:.4em 1em;
  border: 1px solid white;
  border-radius:5px;
  display:inlin-block;
}

.btn-ok{
  background:#2e7d32;
}

.btn-warn{
  background:#cddc39;
}

#vote-table-wrap {
  display: flex;
}
