/* @import url('https://fonts.googleapis.com/css2?family=Itim&display=swap'); */
:root{
  --hue-main:330;
  --cl-main:hsl(var(--hue-main),100%,50%);
  --cl-main-1:hsl(var(--hue-main),100%,90%);
  --cl-main-2:hsl(var(--hue-main),100%,70%);
  --cl-main-3:hsl(var(--hue-main),100%,50%);
  --cl-main-4:hsl(var(--hue-main),80%,25%);
  --cl-main-5:hsl(var(--hue-main),80%,15%);
  --hue-sea:185;
  --hue-warn:185;
  --hue-ok:185;
  --hue-danger:185;
  --hue-grey:185;
}


body {
  background: var(--cl-main-1);
  padding:0;
  color: #555;
/*   font-family: 'Itim', sans-serif; */
}
.container{
  width:100%;
  max-width:1000px;
  min-width:320px;
  margin:auto;
}
h1,h2,h3,h4,h5,h6{
  padding:0;
  margin:0;
}
.btn{
  color:#555;
  padding:.2em .7em;
  border: 2px solid;
  display:inline-block;
  cursor:pointer;
  background:20;
}
.cl-main{
  color:var(--cl-main-3);
}

.btn:hover{
  --btn-color:red;
  color:var(--btn-color);
}
.btn-ok{
  
}

.btn-warn{
  
}

.btn-grey{
  
}

.btn-danger{
  
}

#vote-table{
  background:white;
  padding:2em;
}

#vote-table-wrap {
  display: flex;
  flex-flow:row wrap;
}

.vote-row{
  width:100%;
  display: flex;
  flex-flow:row wrap;
  padding:10px 0px;
  border-bottom:1px solid var(--cl-main-1);
}

.vote-row-title{
  width: 60%;
}
.vote-row-action{
  width: 20%;
  text-align:right;
}
.vote-row-controls{
  width: 20%;
  text-align:right;
}

.vote-title-user{
  color:var(--cl-main-2);
  font-weight:bold;
}